.single-room-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.185)), url(https://res.cloudinary.com/academist/image/upload/v1649326799/parallax-13_glzjgi.jpg);
    @apply bg-no-repeat bg-center bg-cover;
    &__height {
        height: 350px;
    }
    &__content {
        @apply py-6 md:flex justify-between text-white uppercase;
        &__price {
            font-size: 50px;
            line-height: 50px;
        }
        &__list {
            @apply md:flex items-center gap-4 mb-10 md:mb-0 font-medium text-center;
            li {
                @apply py-2 md:py-0;
            }
        }
    }
}